<h2>Students</h2>

<button (click)="showAddForm()">{{addButtonText}}</button>
<div [hidden]="show">
  <app-add-student> </app-add-student>
</div>

<ul class="students">
  <li *ngFor="let student of students"
      [class.selected]="student === selectedStudent"
      (click)="onSelect(student)">
    <span class="badge">{{student.id}}</span> {{student.name}}
    <button class="delete"
            (click)="delete(student); $event.stopPropagation()">x</button>
  </li>
</ul>
<div *ngIf="selectedStudent">
  <h2>
    Student name is {{selectedStudent.name}}. <br>
    Student is on {{selectedStudent.course}} course now. <br>
    Subject {{selectedStudent.subjects}}
  </h2>
  <button (click)="goToDetail()">View Details</button>
</div>
