<div class="container-fluid" class="col-xs-6 col-md-3">
    <h2>Teachers</h2>

    <button class="btn btn-secondary"
            (click)="showAddForm()">{{addButtonText}}
    </button>
    <div [hidden]="show">
        <div class="container-fluid">
            <form>
                <label> Add teacher</label> <br>
                <div class="form-group">
                    <label for="teacher">Name:</label>
                    <input #teacherName type="text"
                           class="form-control"
                           id="teacher"
                           placeholder="John Oliver">
                </div>
                <br>
                <button class="btn btn-success"
                        (click)="add(teacherName.value)">
                    Add
                </button>
            </form>
        </div>
    </div>

    <div >
        <table class="table table-striped">
            <thead>
            <tr>
                <th>id</th> <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr class="hand-pointer" *ngFor="let teacher of teachers"
                [class.selected]="teacher === selectedTeacher"
                (click)="onSelect(teacher)">
                <td>{{teacher.id}}</td>
                <td>{{teacher.name}}</td>
            </tr>
            </tbody>
        </table>
        <div *ngIf="selectedTeacher">
            <div class="form-group">
                <label for="subject-name">Teacher name:</label>
                <input type="text" class="form-control" id="subject-name"
                       placeholder="{{selectedTeacher.name}}">
            </div>

            <button class="btn btn-warning"
                    (click)="update(selectedTeacher); $event.stopPropagation()">Edit
            </button>
            <button class="btn btn-danger"
                    (click)="delete(selectedTeacher); $event.stopPropagation()">Delete
            </button>
        </div>
    </div>
</div>