<div class="container-fluid" class="col-xs-10 col-md-10 col-md-offset-1">
    <h2>Teachers</h2>
<div class="container-fluid col-md-6">
    <button class="btn btn-outline-primary"
            (click)="showAddForm()">{{addButtonText}} </button>
    <div  [hidden]="show">
        <br><label> Add teacher</label> <br>
        <div class="form-group">
            <label for="teacher">Name:</label>
            <input #teacherName type="text" class="form-control" id="teacher" placeholder="John Oliver">
        </div><br>
        <button class="btn btn-success" (click)="add(teacherName.value)"> Add</button>
    </div>
</div>
    <div class="no-more-tables">
        <table class="table table-striped" >
            <thead> <tr> <th>id</th> <th>Name</th> </tr> </thead>
            <tbody>
            <tr class="hand-pointer" *ngFor="let teacher of teachers"
                [class.selected]="teacher === selectedTeacher"
                (click)="onSelect(teacher)">
                <td>{{teacher.id}}</td> <td>{{teacher.name}}</td>
            </tr>
            </tbody>
        </table>
        <div class="container-fluid col-md-6" *ngIf="selectedTeacher">
            <div class="form-group">
                <label for="subject-name">Teacher name:</label>
                <input type="text" class="form-control" id="subject-name"
                       [(ngModel)]="selectedTeacher.name">
            </div>

            <button class="btn btn-warning btn-sm" (click)="save(selectedTeacher);">Edit </button>
            <button class="btn btn-danger btn-sm"  (click)="delete(selectedTeacher);">Delete </button>
        </div>
    </div>
</div>