<h2>All Students</h2>
<ul class="student">
  <li *ngFor="let student of students"
      [class.selected]="student === selectedStudent"
      (click)="onSelect(student)">
    <span class="badge">{{student.id}}</span> - {{student.name}}
    <button class="delete"
            (click)="delete(student); $event.stopPropagation()">x</button>
  </li>
</ul>
<div *ngIf="selectedStudent">
  <h2>
    {{selectedStudent.name | uppercase}} is selected student
  </h2>
  <button (click)="goToDetail()">View Details</button>
</div>
<div>
  <label>Student name:</label> <input #studentName />
  <button (click)="add(name.value); name.value=''">
    Add
  </button>
</div>
